@font-face {
	font-family:"Franklin Gothic Medium";
	font-style:normal;
	font-weight:normal;
	src : url("../font/FranklinGothic-Medium.ttf");
}
@font-face {
	font-family:Impact;
	font-style:normal;
	font-weight:normal;
	font-stretch:condensed;
	src : url("../font/Impact.ttf");
}
@font-face {
	font-family:"Microsoft YaHei";
	font-style:normal;
	font-weight:bold;
	src : url("../font/MicrosoftYaHei-Bold.ttc");
}
@font-face {
	font-family:"Microsoft YaHei UI";
	font-style:normal;
	font-weight:normal;
	src : url("../font/MicrosoftYaHeiUI.ttc");
}
@font-face {
	font-family:"Microsoft YaHei UI";
	font-style:normal;
	font-weight:bold;
	src : url("../font/MicrosoftYaHeiUI-Bold.ttc");
}
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote, figure {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
div.基本圖形框架, figure.基本圖形框架 {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.基本文字框 {
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#589fb8;
	font-family:Impact, sans-serif;
	font-size:1607.9px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-2 {
	color:#456c63;
	font-family:Impact, sans-serif;
	font-size:1607.9px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-3 {
	color:#d29f61;
	font-family:"Franklin Gothic Medium", sans-serif;
	font-size:720px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-4 {
	color:#d29f61;
	font-family:"Microsoft YaHei", sans-serif;
	font-size:960px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-5 {
	color:#456c63;
	font-family:"Microsoft YaHei UI", sans-serif;
	font-size:720px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-6 {
	color:#d29f61;
	font-family:Impact, sans-serif;
	font-size:1200px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-7 {
	color:#589fb8;
	font-family:"Microsoft YaHei", sans-serif;
	font-size:480px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-8 {
	color:#589fb8;
	font-family:"Microsoft YaHei", sans-serif;
	font-size:519px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-9 {
	color:#589fb8;
	font-family:"Microsoft YaHei", sans-serif;
	font-size:415.2px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-10 {
	color:#589fb8;
	font-family:"Microsoft YaHei UI", sans-serif;
	font-size:400px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-11 {
	color:#589fb8;
	font-family:"Microsoft YaHei UI", sans-serif;
	font-size:480px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-12 {
	color:#456c63;
	font-family:Impact, sans-serif;
	font-size:1200px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-13 {
	color:#789351;
	font-family:Impact, sans-serif;
	font-size:1800px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-14 {
	color:#589fb8;
	font-family:Impact, sans-serif;
	font-size:360px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-15 {
	color:#456c63;
	font-family:Impact, sans-serif;
	font-size:1440px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-16 {
	color:#dea06c;
	font-family:"Microsoft YaHei UI", sans-serif;
	font-size:1200px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-17 {
	color:#589fb8;
	font-family:"Microsoft YaHei UI", sans-serif;
	font-size:360px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-18 {
	color:#589fb8;
	font-family:Impact, sans-serif;
	font-size:1200px;
	font-style:normal;
	font-weight:normal;
}
#_idContainer000, #_idContainer007, #_idContainer020, #_idContainer030, #_idContainer042, #_idContainer054, #_idContainer064, #_idContainer075, #_idContainer098 {
	-webkit-transform:translate(-16.000px,-9.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:826.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-16.000px,-9.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1311.00px;
}
#_idContainer001 {
	-webkit-transform:translate(-16.859px,115.141px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:592.72px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-16.859px,115.141px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1311.72px;
}
#_idContainer002 {
	-webkit-transform:translate(4.895px,163.352px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:511.48px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(4.895px,163.352px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1382.37px;
}
#_idContainer003 {
	-webkit-transform:translate(-8.504px,156.952px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:511.48px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-8.504px,156.952px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1382.37px;
}
#_idContainer004 {
	-webkit-transform:translate(4.895px,631.708px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:69.95px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(4.895px,631.708px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:407.00px;
}
#_idContainer005 {
	-webkit-transform:translate(988.000px,587.459px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:97.66px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(988.000px,587.459px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:281.00px;
}
#_idContainer006 {
	-webkit-transform:translate(1042.000px,221.274px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:47.93px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1042.000px,221.274px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:227.00px;
}
#_idContainer008 {
	-webkit-transform:translate(22.000px,65.590px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:522.12px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(22.000px,65.590px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:369.72px;
}
#_idContainer009 {
	-webkit-transform:translate(276.894px,370.897px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:46.19px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(276.894px,370.897px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:41.21px;
}
#_idContainer010 {
	-webkit-transform:translate(43.637px,52.141px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:507.72px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(43.637px,52.141px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:395.72px;
}
#_idContainer011 {
	-webkit-transform:translate(493.000px,-28.733px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:325.82px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(493.000px,-28.733px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:620.00px;
}
#_idContainer012 {
	-webkit-transform:translate(-8.363px,596.060px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:129.77px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-8.363px,596.060px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:378.22px;
}
#_idContainer013 {
	-webkit-transform:translate(493.000px,301.350px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:25.32px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(493.000px,301.350px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:120.00px;
}
#_idContainer014 {
	-webkit-transform:translate(493.000px,596.060px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:25.83px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(493.000px,596.060px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:120.00px;
}
#_idContainer015 {
	-webkit-transform:translate(493.000px,467.992px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:25.83px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(493.000px,467.992px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:120.00px;
}
#_idContainer016 {
	-webkit-transform:translate(493.000px,290.246px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:33.68px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(493.000px,290.246px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:167.00px;
}
#_idContainer017 {
	-webkit-transform:translate(22.000px,597.714px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:67.39px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(22.000px,597.714px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:357.67px;
}
#_idContainer018 {
	-webkit-transform:translate(22.000px,661.147px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:73.58px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(22.000px,661.147px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:357.67px;
}
#_idContainer019 {
	-webkit-transform:translate(493.000px,335.776px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:414.58px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(493.000px,335.776px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:766.00px;
}
#_idContainer021 {
	-webkit-transform:translate(-12.000px,-48.725px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:550.31px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-12.000px,-48.725px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:666.00px;
}
#_idContainer022 {
	-webkit-transform:translate(321.000px,215.762px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:280.87px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(321.000px,215.762px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:64.00px;
}
#_idContainer023 {
	-webkit-transform:translate(418.666px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:815.84px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(418.666px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:875.19px;
}
#_idContainer024 {
	-webkit-transform:translate(519.194px,-8.822px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:486.61px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(519.194px,-8.822px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:776.61px;
}
#_idContainer025 {
	-webkit-transform:translate(620.882px,495.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:152.23px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(620.882px,495.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:256.34px;
}
#_idContainer026 {
	-webkit-transform:translate(907.688px,495.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:152.23px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(907.688px,495.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:255.29px;
}
#_idContainer027 {
	-webkit-transform:translate(620.882px,652.102px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:140.90px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(620.882px,652.102px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:257.42px;
}
#_idContainer028 {
	-webkit-transform:translate(907.688px,652.102px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:140.90px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(907.688px,652.102px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:255.29px;
}
#_idContainer029 {
	-webkit-transform:translate(0.000px,471.881px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/25.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:50.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,471.881px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:291.50px;
}
#_idContainer031 {
	-webkit-transform:translate(619.496px,1.783px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:798.22px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(619.496px,1.783px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:660.50px;
}
#_idContainer032 {
	-webkit-transform:translate(-8.504px,-59.294px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:463.44px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-8.504px,-59.294px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:628.00px;
}
#_idContainer033 {
	-webkit-transform:translate(526.000px,104.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:280.87px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(526.000px,104.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:74.00px;
}
#_idContainer034 {
	-webkit-transform:translate(0.000px,377.591px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/25.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:50.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,377.591px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:291.50px;
}
#_idContainer035 {
	-webkit-transform:translate(643.999px,11.536px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:209.43px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(643.999px,11.536px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:301.32px;
}
#_idContainer036 {
	-webkit-transform:translate(960.683px,11.536px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:209.43px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(960.683px,11.536px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:301.32px;
}
#_idContainer037 {
	-webkit-transform:translate(643.999px,236.332px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:209.43px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(643.999px,236.332px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:301.32px;
}
#_idContainer038 {
	-webkit-transform:translate(960.683px,236.332px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:209.43px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(960.683px,236.332px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:301.32px;
}
#_idContainer039 {
	-webkit-transform:translate(643.999px,488.589px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:320.93px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(643.999px,488.589px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:195.76px;
}
#_idContainer040 {
	-webkit-transform:translate(855.122px,488.589px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:320.93px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(855.122px,488.589px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:195.76px;
}
#_idContainer041 {
	-webkit-transform:translate(1066.244px,488.589px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:320.93px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1066.244px,488.589px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:195.76px;
}
#_idContainer043 {
	-webkit-transform:translate(456.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:800.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(456.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:824.00px;
}
#_idContainer044 {
	-webkit-transform:translate(-6.000px,-45.757px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:523.24px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-6.000px,-45.757px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:428.00px;
}
#_idContainer045 {
	-webkit-transform:translate(348.000px,209.456px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:280.87px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(348.000px,209.456px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:74.00px;
}
#_idContainer046 {
	-webkit-transform:translate(0.000px,479.091px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/35.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:72.17px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,479.091px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:326.00px;
}
#_idContainer047 {
	-webkit-transform:translate(872.206px,555.720px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:236.48px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(872.206px,555.720px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:310.00px;
}
#_idContainer048 {
	-webkit-transform:translate(554.706px,554.173px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:238.03px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(554.706px,554.173px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:312.91px;
}
#_idContainer049 {
	-webkit-transform:translate(0.000px,387.134px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:81.19px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,387.134px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:348.00px;
}
#_idContainer050 {
	-webkit-transform:translate(467.000px,399.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:154.17px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(467.000px,399.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:258.19px;
}
#_idContainer051 {
	-webkit-transform:translate(739.362px,399.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:154.17px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(739.362px,399.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:258.19px;
}
#_idContainer052 {
	-webkit-transform:translate(1011.724px,400.869px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:152.43px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1011.724px,400.869px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:255.28px;
}
#_idContainer053 {
	height:382px;
	overflow:hidden;
	width:800px;
	-webkit-transform:translate(467.000px,13.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(467.000px,13.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
}
#_idHTMLPageItem000, #_idHTMLPageItem002 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:100.00%;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:100.00%;
}
#_idContainer055 {
	-webkit-transform:translate(524.000px,17.968px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:371.26px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(524.000px,17.968px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:739.07px;
}
#_idContainer056 {
	-webkit-transform:translate(495.999px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:800.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(495.999px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:784.00px;
}
#_idContainer057 {
	-webkit-transform:translate(-6.000px,-45.757px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:427.48px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-6.000px,-45.757px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:428.00px;
}
#_idContainer058 {
	-webkit-transform:translate(422.000px,91.417px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:280.87px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(422.000px,91.417px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:74.00px;
}
#_idContainer059 {
	-webkit-transform:translate(0.000px,352.333px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/35.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:72.17px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,352.333px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:326.00px;
}
#_idContainer060 {
	-webkit-transform:translate(905.457px,421.960px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:352.84px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(905.457px,421.960px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:370.80px;
}
#_idContainer061 {
	-webkit-transform:translate(524.000px,396.960px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:378.07px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(524.000px,396.960px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:378.07px;
}
#_idContainer062 {
	-webkit-transform:translate(902.070px,392.401px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/43.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:30.56px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(902.070px,392.401px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:361.00px;
}
#_idContainer063 {
	-webkit-transform:translate(524.000px,17.968px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:378.99px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(524.000px,17.968px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:739.07px;
}
#_idContainer065 {
	-webkit-transform:translate(386.000px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:800.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(386.000px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:894.00px;
}
#_idContainer066 {
	-webkit-transform:translate(-6.000px,-45.757px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:427.48px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-6.000px,-45.757px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:279.00px;
}
#_idContainer067 {
	-webkit-transform:translate(263.000px,167.409px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:280.87px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(263.000px,167.409px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:74.00px;
}
#_idContainer068 {
	-webkit-transform:translate(0.000px,435.044px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/35.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:72.17px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,435.044px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:326.00px;
}
#_idContainer069 {
	-webkit-transform:translate(-3.000px,345.376px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:81.19px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-3.000px,345.376px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:242.50px;
}
#_idContainer070 {
	height:488px;
	overflow:hidden;
	width:854px;
	-webkit-transform:translate(406.000px,17.968px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(406.000px,17.968px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
}
#_idHTMLPageItem001 {
	-webkit-transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(0.999,1.000);
	-webkit-transform-origin:0% 0%;
	height:100.00%;
	transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(0.999,1.000);
	transform-origin:0% 0%;
	width:100.00%;
}
#_idContainer071 {
	-webkit-transform:translate(899.000px,501.408px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/43.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:30.56px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(899.000px,501.408px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:361.00px;
}
#_idContainer072 {
	-webkit-transform:translate(1125.000px,770.408px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/52.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:30.56px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1125.000px,770.408px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:135.00px;
}
#_idContainer073 {
	-webkit-transform:translate(833.000px,530.968px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:244.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(833.000px,530.968px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:427.00px;
}
#_idContainer074 {
	-webkit-transform:translate(406.000px,530.968px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:244.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(406.000px,530.968px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:415.00px;
}
#_idContainer076 {
	-webkit-transform:translate(532.000px,0.438px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:800.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(532.000px,0.438px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:748.00px;
}
#_idContainer077, #_idContainer090 {
	-webkit-transform:translate(-6.000px,-45.757px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:427.48px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-6.000px,-45.757px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:464.00px;
}
#_idContainer078 {
	-webkit-transform:translate(458.000px,164.456px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:280.87px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(458.000px,164.456px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:74.00px;
}
#_idContainer079 {
	-webkit-transform:translate(0.000px,435.044px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/57.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:68.88px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,435.044px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:326.00px;
}
#_idContainer080 {
	-webkit-transform:translate(-3.000px,345.376px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:81.19px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-3.000px,345.376px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:461.00px;
}
#_idContainer081 {
	-webkit-transform:translate(1000.756px,421.451px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:119.22px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1000.756px,421.451px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:269.37px;
}
#_idContainer082 {
	-webkit-transform:translate(1000.756px,152.462px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:119.22px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1000.756px,152.462px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:269.37px;
}
#_idContainer083 {
	-webkit-transform:translate(547.970px,17.968px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:253.71px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(547.970px,17.968px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:437.51px;
}
#_idContainer084 {
	-webkit-transform:translate(1000.756px,17.968px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:119.22px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1000.756px,17.968px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:269.37px;
}
#_idContainer085 {
	-webkit-transform:translate(547.970px,286.957px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:253.71px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(547.970px,286.957px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:437.51px;
}
#_idContainer086 {
	-webkit-transform:translate(1000.756px,286.957px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:119.22px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1000.756px,286.957px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:269.37px;
}
#_idContainer087 {
	-webkit-transform:translate(547.970px,547.944px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:243.60px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(547.970px,547.944px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:353.88px;
}
#_idContainer088 {
	-webkit-transform:translate(916.239px,547.944px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:243.60px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(916.239px,547.944px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:353.88px;
}
#_idContainer089 {
	-webkit-transform:translate(-40.000px,-52.181px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:876.83px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-40.000px,-52.181px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1362.00px;
}
#_idContainer091 {
	-webkit-transform:translate(421.000px,91.401px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:280.87px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(421.000px,91.401px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:74.00px;
}
#_idContainer092 {
	-webkit-transform:translate(0.000px,347.520px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/62.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:68.88px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,347.520px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:355.00px;
}
#_idContainer093 {
	-webkit-transform:translate(548.861px,17.968px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:434.64px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(548.861px,17.968px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:404.25px;
}
#_idContainer094 {
	-webkit-transform:translate(981.506px,14.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/63.png);
	background-repeat:no-repeat;
	background-size:contain;
	height:409.76px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(981.506px,14.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:230.49px;
}
#_idContainer095 {
	-webkit-transform:translate(918.110px,429.440px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:349.89px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(918.110px,429.440px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:349.89px;
}
#_idContainer096 {
	-webkit-transform:translate(605.048px,430.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:349.33px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(605.048px,430.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:306.00px;
}
#_idContainer097 {
	height:349px;
	overflow:hidden;
	width:582px;
	-webkit-transform:translate(15.768px,430.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(15.768px,430.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
}
#_idContainer099 {
	-webkit-transform:translate(-15.859px,107.641px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:592.72px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-15.859px,107.641px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1311.72px;
}
#_idContainer100 {
	-webkit-transform:translate(0.000px,164.204px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:333.82px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,164.204px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1113.00px;
}
#_idContainer101 {
	-webkit-transform:translate(10.000px,158.204px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:333.82px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(10.000px,158.204px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1113.00px;
}
#_idContainer102 {
	-webkit-transform:translate(-5.000px,528.632px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:69.95px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-5.000px,528.632px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:745.00px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
img._idGenObjectAttribute-3 {
	-webkit-transform:translate(0.000%,0.000%) rotate(0.000deg) skew(0.000deg) scale(1.000,0.999);
	-webkit-transform-origin:0% 0%;
	height:100.00%;
	min-width:100%;
	transform:translate(0.000%,0.000%) rotate(0.000deg) skew(0.000deg) scale(1.000,0.999);
	transform-origin:0% 0%;
	width:100.00%;
}
figure._idGenObjectAttribute-4 {
	height:410px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	width:230px;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
div._idGenObjectStyle-Disabled, figure._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
